/* Apply styles to HTML tags */
body {
    font-family: Arial, sans-serif;
    background-color: #9E6A37;
    color: #303030;
}

/* Create and apply styles to classes */
.project {
    background-color: #ECBAA8;
    border: 1px solid #9E6A37;
    padding: 10px;
    margin: 10px;
}

/* Create and apply styles to IDs */
#header-title {
    text-align: center;
    background-color: #EFB661;
    color: #303030;
    padding: 10px;
}

/* Use div to create sections */
#projects {
    background-color: #837A58;
    color: #303030;
    padding: 20px;
}

#about {
    background-color: #EFB661;
    padding: 20px;
}

/* Change link color on hover */
a:hover {
    color: #ff0000;
}

/* Change box model properties */
.project {
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    color: #303030;
    border-radius: 4px;
}

/* Add styles to images */
img.profile-image {
    max-width: 10px;
    height: auto;
    border-radius: 50%; /* Circular border */
    margin: 20px auto; /* Center the image */
    display: block; /* Remove any inline spacing */
}
